{% extends 'base.html' %}

{% block title %}Blogs - Frustrated Engineers{% endblock title %}

{% block body %}
<main class="page blog-post">
    <section class="clean-block clean-post dark">
        <div class="container">
            <div class="block-content">
                <h2>Blog Posts</h2>
                <div class="posts">
                    {% for post in page_obj %}
                    <article class="post">
                        <h3><a href="{% url 'blog_post_detail' post.pk %}">{{ post.title }}</a></h3>
                        <p>{{ post.content|truncatewords:30 }}</p>
                        <p>Author: {{ post.author.username }}</p>
                        <p>Categories:
                            {% for category in post.categories.all %}
                                {{ category.name }},
                            {% endfor %}
                        </p>
                        <p>Tags:
                            {% for tag in post.tags.all %}
                                {{ tag.name }},
                            {% endfor %}
                        </p>
                    </article>
                    {% endfor %}
                </div>
                <div class="pagination">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    {% endif %}
                    <span class="current-page">{{ page_obj.number }}</span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">Next</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock body %}
