{% extends 'dashboard_base.html' %}

{% block title %}Blogs - Frustrated Engineers{% endblock title %}

{% block dashboardstyles %}
<style>
    .blog-post {
        padding-top: 80px;
    }

    .blog-post .clean-post {
        background-color: #f6f6f6;
        color: #000;
        padding: 40px;
        border-radius: 10px;
    }

    .blog-post h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .blog-post .posts {
        margin-bottom: 30px;
        width: 30%;
    }

    .blog-post .post {
        margin-bottom: 40px;
    }

    .blog-post h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .blog-post p {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .blog-post .pagination {
        text-align: center;
        margin-top: 20px;
    }

    .blog-post .pagination a {
        color: #000;
        text-decoration: none;
        margin: 0 5px;
        font-size: 16px;
        transition: color 0.3s;
    }

    .blog-post .pagination a:hover {
        color: #6c757d;
    }

    .blog-post .pagination .current-page {
        font-weight: bold;
    }

    .button-create {
        background-color: #200E49;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    .button-create:hover {
        background-color: #321772;
    }

    .block-content {
        padding: 5% !important;
        background-color: transparent!important;
    }

    #post-image {
        width: 88%;
        object-fit: cover;
        margin: 6%;
        height: 250px;
    }
    .posts{
        display: flex;
    }
    .post{
        background-color: rgb(255, 255, 255,0.2)!important;
        border-radius: 8px;
        margin-right: 30px;
        margin-bottom: 30px;
        width: 33%;
    }
    .post a{
        text-decoration: none;
        color: white;
        font-weight: 600;
    }
    .contentdashboard h5{
        text-align: center!important;
        margin-top: 25px;
    }
</style>
{% endblock dashboardstyles %}

{% block dashboardbody %}
<div class="block-content">
    <h2>Blog Posts</h2>

    <div class="posts">
        {% for post in page_obj %}
        <article class="post">
            <h5><a href="{% url 'blog_post_detail' post.pk %}">{{ post.title }}</a></h5>
            {% if post.image_url %}
            <img id="post-image" src="{{ post.image_url }}" alt="Blog Post Image">
            {% endif %}
            <br>
            <br>
            <p>{{ post.content|truncatewords:20 }}</p>
            <br>
            <br>
            <p><b>Author:</b> {{ post.author.username }}</p><br>
            <p><b>Categories:</b><br>
                {% for category in post.categories.all %}
                {{ category.name }},
                {% endfor %}
            </p><br>
            <p><b>Tags:</b><br>
                {% for tag in post.tags.all %}
                {{ tag.name }},
                {% endfor %}
            </p>
        </article>
        {% endfor %}
        <br>
    </div>
    <a href="{% url 'create_blog_post' %}" class="button-create btn btn-primary mb-3">Create a New Blog</a>
    <div class="pagination">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        <span class="current-page">{{ page_obj.number }}</span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
    </div>
</div>
{% endblock dashboardbody %}