{% extends 'dashboard_base.html' %}

{% block title %}Delete Blog Post - Frustrated Engineers{% endblock title %}

{% block dashboardstyles %}
<style>
.block-content{
    background-color:rgba(255, 255, 255, 0.2)!important;
    border-radius: 8px;
}
.block-content a{
    text-decoration: none!important;
    margin-left: 10%;
    color: white;
}
.contentdashboard{
    text-align: center!important;
}
.block-content button {
  background-color: #ff5851;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.block-content button:hover {
  background-color: #e64c47;
}

</style>
{% endblock dashboardstyles %}

{% block dashboardbody %}
<div class="block-content">
    <h2>Delete Blog Post</h2>
    <br>
    <p>Are you sure you want to delete the blog post "{{ post.title }}"?</p>
    <br><br>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Delete</button>
        <a href="{% url 'blog_post_detail' post.pk %}">Cancel</a>
    </form>
</div>
{% endblock dashboardbody %}
