{% extends 'dashboard_base.html' %}

{% block title %}Update Blog Post - Frustrated Engineers{% endblock title %}

{% block dashboardstyles %}
{{ form.media }}
<style>
  .form-group {
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  input[type="text"],
  textarea,
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
  }

  textarea {
    height: 200px;
  }

  select[multiple] {
    height: auto;
  }

  button[type="submit"] {
    background-color: #200e49;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  button[type="submit"]:hover {
    background-color: #321772;
  }

  .page {
    margin-top: 100px;
  }

  .form-group-file {
    position: relative;
  }

  .form-group-file input[type="file"] {
    opacity: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
  }

  #id_image {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    z-index: 1;
  }

  .form-group-file .filename {
    margin-top: 5px;
    font-size: 14px;
    color: #d730e9;
  }

  .form-group input[type="text"],
  .form-group-file input[type="file"],
  .form-group select,
  .form-group textarea {
    background-color: transparent !important;
    color: white !important;
  }
  /* Froala CSS to match the Theme */
  .fr-wrapper{
    background-color: transparent!important;
  }
  .fr-box.fr-basic .fr-element{
    color: white!important;
  }
  #fr-logo{
    display:none;
  }
  .fr-toolbar,.fr-second-toolbar{
    background-color: transparent!important;
  }
  .hideFroala{
    padding: 0!important;
    color: transparent!important;
    text-decoration: none;
    background: transparent!important;
    display: block;
    font-size: 1px!important;
    font-family: sans-serif;
  }
</style>
{% endblock dashboardstyles %}

{% block dashboardbody %}
<h2>Update Blog Post</h2>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="form-group">
    <label for="id_title">Title:</label>
    <input type="text" id="id_title" name="title" value="{{ post.title }}" required>
  </div>

  <div class="form-group">
    <label for="id_content">Content:</label>
    {{ form.content }}
  </div>

  <div class="form-group-file">
    <label for="id_image">Image:</label>
    <input type="file" id="id_image" name="image" class="form-control-file form-control">
    <span class="filename"></span>
  </div>

  <div id="backgroundFields">
    <div class="form-group">
      <label for="id_background_choice">Blog's Background:</label>
      <select id="id_background_choice" name="background_choice" required>
        <option value="default">Default</option>
        <option value="color">Color</option>
        <option value="image">Image</option>
        <option value="custom_css">Custom CSS</option>
      </select>
    </div>

    <div id="colorFields" style="display: none;">
      <div class="form-group">
        <label for="id_background_color">Choose a Background Color:</label>
        <input type="color" id="id_background_color" name="background_color" />
      </div>
    </div>

    <div id="imageFields" style="display: none;">
      <div class="form-group">
        <label for="id_background_image">Give Background Image Link:</label>
        <input type="text" id="id_background_image" name="background_image_link" class="form-control" />
      </div>
    </div>

    <div id="customCssFields" style="display: none;">
      <div class="form-group">
        <label for="id_custom_css">Apply Custom CSS:</label>
        <textarea id="id_custom_css" name="custom_css"></textarea>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="id_categories">Categories:</label>
    <select id="id_categories" name="categories" multiple required>
      {% for category in form.fields.categories.queryset %}
      <option value="{{ category.pk }}" {% if category in post.categories.all %}selected{% endif %}>{{ category.name }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="form-group">
    <label for="id_tags">Tags:</label>
    <select id="id_tags" name="tags" multiple required>
      {% for tag in form.fields.tags.queryset %}
      <option value="{{ tag.pk }}" {% if tag in post.tags.all %}selected{% endif %}>{{ tag.name }}</option>
      {% endfor %}
    </select>
  </div>

  <button class="btn btn-primary" type="submit">Submit</button>
</form>

{% endblock dashboardbody %}

{% block dashjs %}
<script>
  var aElement = document.querySelector('a[href="https://www.froala.com/wysiwyg-editor?k=u"]');
    if (aElement) {
      aElement.classList.add('hideFroala');
    }

</script>
<script>
  const backgroundChoice = document.getElementById("id_background_choice");
  const backgroundFields = document.getElementById("backgroundFields");
  const colorFields = document.getElementById("colorFields");
  const imageFields = document.getElementById("imageFields");
  const customCssFields = document.getElementById("customCssFields");

  backgroundChoice.addEventListener("change", () => {
    const selectedOption = backgroundChoice.value;
    colorFields.style.display = selectedOption === "color" ? "block" : "none";
    imageFields.style.display = selectedOption === "image" ? "block" : "none";
    customCssFields.style.display = selectedOption === "custom_css" ? "block" : "none";
  });

  // Code to display the selected image filename
  const fileInput = document.getElementById("id_image");
  const filenameContainer = document.querySelector(".filename");

  fileInput.addEventListener("change", (event) => {
    const file = event.target.files[0];
    if (file) {
      filenameContainer.textContent = file.name;
    } else {
      filenameContainer.textContent = "";
    }
  });
</script>
{% endblock dashjs %}
