{% extends 'base.html' %}
{% block title %}Contact Us - Frustrated Engineers{% endblock title %}
{% load static %}
{% block body %}
<main class="page contact-us-page">
  <section style="margin-top: 80px;" class="clean-block clean-form bg-decided1 text-white">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-theme-light">Contact Us</h2>
        <p>Got a query? We're just a click away - contact us now!</p>
      </div>
      <form method="post" action="{% url 'my_view' %}">
        {% csrf_token %}
        <div class="formbody">
          <div class="containerform">
            <div class="screen">
              <div class="screen-header">
                <div class="screen-header-left">
                  <div class="screen-header-button close"></div>
                  <div class="screen-header-button maximize"></div>
                  <div class="screen-header-button minimize"></div>
                </div>
                <div class="screen-header-right">
                  <div class="screen-header-ellipsis"></div>
                  <div class="screen-header-ellipsis"></div>
                  <div class="screen-header-ellipsis"></div>
                </div>
              </div>
              <div class="screen-body">
                <div class="screen-body-item left">
                  <div class="app-title">
                    <span>MESSEGE</span>
                    <span>US ; )</span>
                  </div>
                  <div class="app-contact">CONTACT INFO : +91 7248432377</div>
                </div>
                <div class="screen-body-item">
                  <div class="app-form">
                    <div class="app-form-group">
                      <input class="app-form-control" name="name" placeholder="NAME" value="{{ form.name.value }}">
                    </div>
                    <div class="app-form-group">
                      <input class="app-form-control" name="email" placeholder="EMAIL" value="{{ form.email.value }}">
                    </div>
                    <div class="app-form-group">
                      <input class="app-form-control" name="contact" placeholder="CONTACT NO" value="{{ form.contact.value }}">
                    </div>
                    <div class="app-form-group message">
                      <input class="app-form-control" name="message" placeholder="MESSAGE" value="{{ form.message.value }}">
                    </div>
                    <div class="app-form-group buttons">
                      <button class="app-form-button" type="reset">CLEAR</button>
                      <button class="app-form-button" type="submit">SEND</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      
  </section>
</main>
{% endblock body %}