{% extends 'base.html' %}

{% block title %}Blogs - Frustrated Engineers{% endblock title %}
    
{% load static %}
    
{% block styles %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
  integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<style>

  .main{
    margin: auto;
    width: 700px;
    height: 450px;
    background: rgb(0, 247, 255);
    overflow: hidden;
    background: #321772;
    border-radius: 10px;
  }
  #chk{
    display: none;
  }
  .call-text{
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  h1{
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
  }

  h2{
    text-align: center;
    margin: 5px auto;
  }
  label{
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
  }
  input{
    width: 60%;
    height: 40px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 15px auto;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 5px;
  }
  .signup-btn{
    width: 20%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #e427ea;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
  }
  .signup-btn:hover{
    background: #4568dc;
  }
  .login-btn{
    width: 20%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #321772;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
  }
  .login-btn:hover{
    background: #e427ea;
  }
  .login-text a{
    justify-content: space-evenly;
    display: flex;
    margin: 20px auto;
    text-decoration: none;
    color: #321772;
  }
  .login-text a:hover{
    text-decoration: underline;
  }
  .login-text{
    height: 460px;
    background: #fff;
    border-radius: 50% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
  }
  .login-text label{
    color: #321772;
    transform: scale(.6);
  }
  #chk:checked ~ .login-text{
    transform: translateY(-500px);
  }
  #chk:checked ~ .login-text label{
    transform: scale(1);
  }
  #chk:checked ~ .call-text label{
    transform: scale(.6);
  }

  .clean-block {
    background: radial-gradient(ellipse at bottom, #192E47 0%, #030617 100%);
  }
</style>
{% endblock styles %}


{% block body %}
<main class="page blog-post ">
  <section class="clean-block clean-post dark navpadding">
    <div class="main">
      <input type="checkbox" id="chk" aria-hidden="true">
      <div class="call-text">
          <form>
            {% csrf_token %}
              <label for="chk" aria-hidden="true">Don't have a account yet?</label>
              <button class="signup-btn" onclick="window.location.href='/authentication/signup'">Join Us Here</button>
              <h1>Touch the <i class="fas fa-chevron-up"></i> <span>Button</span> to Login </h1>
              <h1>OR</h1>
            </form>
        </div>
        <div class="login-text">
            <form>

                <label for="chk" aria-hidden="true"><i class="fas fa-chevron-up"></i></label>
                <h2 class="description">Login</h2>
                <input type="text" id="username" name="username" placeholder="Username" required>
                <input type="password" id="password" name="password" placeholder="Password" required>
                <a href="#">Forgot Password?</a>
                <button class="login-btn" type="submit">Log In</button>
            </form>
        </div>
    </div>
  </section>
</main>
{% endblock body %}


{% block javascript %}
<script>
  var cta = document.querySelector(".cta");
  var check = 0;

  cta.addEventListener('click', function (e) {
    var text = e.target.nextElementSibling;
    var loginText = e.target.parentElement;
    text.classList.toggle('show-hide');
    loginText.classList.toggle('expand');
    if (check == 0) {
      cta.innerHTML = "<i class=\"fas fa-chevron-down\"></i>";
      check++;
    }
    else {
      cta.innerHTML = "<i class=\"fas fa-chevron-up\"></i>";
      check = 0;
    }
  })
</script>
{% endblock javascript %}