{% extends 'base.html' %}

{% block title %}Blogs - Frustrated Engineers{% endblock title %}

{% load static %}

{% block body %}
<main class="page blog-post">
  <section class="clean-block clean-post dark">
    <div class="container">
      <div class="block-content">
        <h2>Login</h2>
        <form method="post">
          {% csrf_token %}
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required>
          <br>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
          <br>
          <button type="submit">Login</button>
        </form>
      </div>
    </div>
  </section>
</main>
{% endblock body %}
