{% extends 'base.html' %}

{% block title %}Blogs - Frustrated Engineers{% endblock title %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
  integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<style>
  .wrapper {
    width: 100%;
    height: 650px;
    position: relative;
    margin: 3% auto;
    overflow: hidden;
  }

  .login-text {
    width: 100%;
    height: 470px;
    background: #321772;
    position: absolute;
    top: -300px;
    box-sizing: border-box;
    padding: 6%;
    transition: all 0.5s ease-in-out;
    z-index: 11;
  }

  .text {
    margin-left: 20px;
    color: #fff;
    display: none;
    transition: all 0.5s ease-in-out;
    transition-delay: 0.3s;
  }

  .text a,
  .text a:visited {
    font-size: 36px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: block;
  }

  .text hr {
    width: 10%;
    float: left;
    background-color: #fff;
    font-size: 16px;
  }

  .text input {
    margin-top: 30px;
    height: 40px;
    width: 300px;
    border-radius: 2px;
    border: none;
    background-color: white;
    opacity: 1;
    outline: none;
    color: #321772;
    padding-left: 10px;
  }

  .text input[type=text] {
    margin-top: 30px;
  }

  .text button {
    margin-top: 60px;
    height: 40px;
    width: 132px;
    outline: none;
  }

  .text .login-btn {
    background: #fff;
    border: none;
    border-radius: 2px;
    color: #321772;
  }
  .text .login-btn:hover {
   background-color: #4568dc;
   color: white;
  }

  .text .signup-btn {
    background: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
    color: #fff;
    margin-left: 30px;
  }
  .text .signup-btn:hover {
    background-color: #e427ea;
  }

  .cta {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #321772;
    border: 2px solid #fff;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    outline: none;
    cursor: pointer;
    z-index: 11;
  }

  .cta:hover {
    background: #e427ea;
  }

  .call-text {
    background-color: #fff;
    width: 100%;
    height: 450px;
    position: absolute;
    bottom: 0;
    padding: 10%;
    box-sizing: border-box;
    text-align: center;
  }

  .call-text h1 {
    font-size: 42px;
    margin-top: 3%;
    color: #696a86;
  }

  .call-text h1 span {
    color: #333;
    font-weight: bolder;
  }

  .call-text button {
    height: 50px;
    width: max-content;
    padding-inline: 20px;
    border: none;
    border-radius: 20px;
    background: #321772;
    color: #fff;
    font-weight: bolder;
    margin-top: 30px;
    cursor: pointer;
    outline: none;
  }

  .call-text button:hover {
    background-color: #e427ea;
  }

  .clean-block {
    background: white;
  }

  .show-hide {
    display: block;
  }

  .expand {
    transform: translateY(300px);
  }
</style>
{% endblock styles %}


{% block body %}
<main class="page blog-post ">
  <section class="clean-block clean-post dark navpadding">
    <div class="container">
      <div class="block-content">
        <div class="wrapper">
          <div class="login-text">
            <button class="cta"><i class="fas fa-chevron-down fa-1x"></i></button>
            <div class="text">
              <a href="">Login</a>
              <hr>
              <br>
              <br>
              <form method="post">
                {% csrf_token %}
                <input type="text" id="username" name="username" placeholder="Username" required>
                <br>
                <input type="password" id="password" name="password" placeholder="Password" required>
                <br>
                <button class="login-btn" type="submit">Log In</button>
                <button class="signup-btn" onclick="window.location.href='/authentication/signup'">Sign Up</button>
              </form>
            </div>
          </div>
          <div class="call-text">
            <h1>Touch the <i class="fas fa-chevron-down fa-1x"></i> <span>Button</span> to Login </h1>
            <h1>OR</h1>
            <button onclick="window.location.href='/authentication/signup'">Join Us Here</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock body %}


{% block javascript %}
<script>
  var cta = document.querySelector(".cta");
  var check = 0;

  cta.addEventListener('click', function (e) {
    var text = e.target.nextElementSibling;
    var loginText = e.target.parentElement;
    text.classList.toggle('show-hide');
    loginText.classList.toggle('expand');
    if (check == 0) {
      cta.innerHTML = "<i class=\"fas fa-chevron-up\"></i>";
      check++;
    }
    else {
      cta.innerHTML = "<i class=\"fas fa-chevron-down\"></i>";
      check = 0;
    }
  })
</script>
{% endblock javascript %}