{% extends 'base.html' %}
{% block styles %}
<style>
    /* CSS Starts Here */
    .pwrf {
        padding: 10%;
        text-align: center;
    }
</style>
{% endblock styles %}
{% block body %}

<main class="page">
    <section class="clean-block bg-decided1 text-white navpadding">
        <div class="container">
            <!-- Akash Make Html Related Changes Here -->
            <div class="pwrf">
                <h1>Password Reset Successful</h1>
                <p>Your password has been successfully reset.</p>
            </div>
            <!-- Till Here and remove the Comments if unnecessory -->
        </div>
    </section>
</main>

{% endblock body%}