{% extends 'base.html' %}
{% block styles %}
<style>
    /* CSS Starts Here */
    .pwrf {
        padding: 10%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .pwcn{
        background-color: rgba(255, 255, 255, 0.2);
        padding: 50px;
        width: 100%;
        max-width: 800px;
        text-align: left;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
    }
    .pwcn input{
        width: 100%;
        padding:10px;
        border-radius: 8px;
        background-color: transparent;
        border: #fff solid 1px;
    }
    .pwcn button{
        background-color: transparent;
        border: #fff solid 1px;
        border-radius: 8px;
        padding: 10px;
        color: white;
        text-align: center;
        margin-inline: 38%;
        width: 24%;
    }
    .pwcn button:hover{
        scale: 1.1;
        font-weight: 600;
    }
</style>
{% endblock styles %}
{% block body %}
<main class="page">
    <section class="clean-block bg-decided1 text-white navpadding">
        <div class="container">
            <!-- Akash Make Html Related Changes Here -->

            <div class="pwrf">
                <h1>Password Reset</h1>
                <div class="pwcn">
                    <form method="POST" action="{% url 'password_reset' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_new_password1">New Password</label>
                            <input type="password" id="id_new_password1" name="new_password1">
                        </div>
                        <div class="form-group">
                            <label for="id_new_password2">Confirm New Password</label>
                            <input type="password" id="id_new_password2" name="new_password2">
                        </div>
                        <button type="submit">Reset Password</button>
                    </form>
                </div>
            </div>

            <!-- Till Here and remove the Comments if unnecessory -->
        </div>
    </section>
</main>
{% endblock body%}