{% extends 'base.html' %}
{% block styles %}
<style>
/* CSS Starts Here */
.pwrf {
  padding: 10%;
  text-align: center;
}
.page {
  margin-top: 50px;
}

.clean-block.clean-gallery {
  padding: 50px 0;
}

.bg-decided1 {
  background-color: #333;
}

.text-white {
  color: #fff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.pwrf h1 {
  font-size: 36px;
  margin-bottom: 40px;
}

.pwrf p {
  font-size: 18px;
  color: #ff5851;
  margin-bottom: 20px;
}

.pwrf form {
  align-items: center;
}

.pwrf input[type="email"] {
  width: 400px ;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  font-size: 16px;
  background-color: transparent;
  color: white;
}

.pwrf button[type="submit"] {
  background-color: transparent;
  color: #d22a2a;
  border: white solid 1px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.pwrf button[type="submit"]:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

</style>
{% endblock styles %}
{% block body %}
<main class="page">
    <section class="clean-block bg-decided1 text-white navpadding">
        <div class="container">
            <!-- Akash Make Html Related Changes Here -->

            <div class="pwrf">
                <h1>Reset Password</h1>
                {% if error %}
                <p>{{ error }}</p>
                {% endif %}
                <form method="POST" action="{% url 'reset_password' %}">
                    {% csrf_token %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Reset Password</button>
                </form>
            </div>

            <!-- Till Here and remove the Comments if unnecessory -->
        </div>
    </section>
</main>

{% endblock body %}