{% extends 'base.html' %}
{% block title %} Sign Up - Frustrated Engineers {% endblock title %}
{% block styles %}
<style>
  .error {
    text-align: center;
    color: red;
  }

  #canvas {
    position: absolute;
    width: 100%;
    height: 60vh;
    top: 300px;
    left: 0;
    z-index: 0;
  }

  .containersignup {
    background: rgba(50, 23, 114, 0.5);
    border: 3px solid transparent;
    border-image: linear-gradient(to right, #5C62DE, #D730E9) 1;
    color: #D730E9;
    display: inline-block;
    padding: 0em 2em;
    margin: 6em auto;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .containersignup .navigation {
    text-align: left;
  }

  .containersignup .navigation ol {
    list-style: none;
    background: #ffffff00;
    position: absolute;
    padding: 30px 0;
    width: 80%;
    z-index: 100;
    margin-bottom: 30px;
  }

  .containersignup .navigation ol li {
    display: inline-block;
    margin-right: 27px;
    font-size: 0.7em;
    max-width: 20%;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .containersignup .navigation ol li a {
    color: #fff;
    text-decoration: none;
    position: relative;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
  }

  .containersignup .navigation ol li a.done {
    opacity: 1;
  }

  .containersignup .sign-form {
    width: 600px;
    text-align: left;
    margin: 85px 0 0 0;
  }

  .containersignup .sign-form #next-page {
    opacity: 0;
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    background: url("https://jdniki.github.io/signup/images/next-page.svg");
    background-size: contain;
  }

  .containersignup .sign-form #next-page:hover {
    background: url("https://jdniki.github.io/signup/images/next-pagehover.svg");
    background-size: contain;
  }

  .containersignup .sign-form .questions {
    list-style: none;
    -webkit-transition: height 0.4s;
    transition: height 0.4s;
    width: 88%;
    display: inline-block;
    height: 80px;
  }

  .containersignup .sign-form .questions li {
    position: absolute;
    width: 75%;
  }

  .containersignup .sign-form .questions li span {
    display: block;
    margin-bottom: 10px;
  }

  .containersignup .sign-form .questions li input {
    width: 100%;
    font-size: .9em;
    color: #f2f2f2;
    margin: 0.3em 0 1em 0;
    border: none;
    background: none;
    border-bottom: 3px solid #fff;
    padding: 0.5em 0.1em;
    transition: all 0.5s ease;
  }

  .containersignup .sign-form .questions li input:focus {
    outline: none;
    border-bottom: 3px solid #D730E9;
  }

  .containersignup .sign-form .questions li:not(:first-child) {
    opacity: 0;
    margin-top: 150px;
  }

  .containersignup .sign-form .questions li #viewpswd {
    position: absolute;
    opacity: 0;
  }

  .containersignup .sign-form .questions li #show-pwd {
    margin: -2.75em 0em;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
  }

  .containersignup .sign-form .questions li #show-pwd.view {
    background: url("https://jdniki.github.io/signup/images/view.svg");
    background-size: contain;
  }

  .containersignup .sign-form .questions li #show-pwd.hide {
    background: url("https://jdniki.github.io/signup/images/hide.svg");
    background-size: contain;
  }

  .containersignup .sign-form .questions li #show-pwd:active,
  .containersignup .sign-form .questions li #show-pwd:focus {
    background: url("https://jdniki.github.io/signup/images/hide.svg");
    background-size: contain;
  }

  .containersignup .sign-form .questions li select.country {
    position: absolute;
    width: 4.5em;
    font-size: 0.7em;
    color: #f2f2f2;
    height: 70px;
    background: transparent;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
  }

  .containersignup .sign-form .questions li #phone {
    padding-left: 5em;
  }

  .containersignup .error-message {
    color: rgba(207, 0, 0, 0.56);
    font-size: 14px;
    margin-top: 10px;
    padding-bottom: 30px;
    background: #b7bed800;
  }

  ::-webkit-input-placeholder {
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.7);
  }

  :-moz-placeholder {
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.7);
  }

  ::-moz-placeholder {
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.7);
  }

  :-ms-input-placeholder {
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.7);
  }

  @-webkit-keyframes moveUpFromDown {
    from {
      -webkit-transform: translateY(100%);
    }

    to {
      -webkit-transform: translateY(0);
    }
  }

  @keyframes moveUpFromDown {
    from {
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }

    to {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }

  /* Media Queries */

  @media (max-width: 1024px) {
    .containersignup {
      width: fit-content;
    }
  }

  @media (max-width: 768px) {
    .containersignup {
      left: 0;
      transform: none;
    }

    .containersignup {
      width: 100%;
      margin: 2em auto;
      margin-inline: 0%;
      top: 0;
      transform: none;
      position: relative;
    }

    .containersignup .sign-form {
      width: 75%;
    }
  }

  @media (max-width: 480px) {
    .containersignup {
      left: 0;
      transform: none;
    }

    .containersignup .sign-form {
      width: 65%;
    }

  }
</style>
{% endblock styles %} {% block body %}
<main class="page registration-page">
  <section class="clean-block clean-faq bg-decided1 navpadding" style="height: 87vh;">
    <div class="container">
      <div class="block-heading text-white">
        <h2 class="text-theme-light">Join Us</h2>
        <p>
          Open Up, Connect, and Create Lasting Connections with Us
        </p>
      </div>
      <canvas id="canvas">
      </canvas>
      <div class="containersignup">
        <div class="navigation">
          <ol>
            <li><a href="#" data-ref="name">Name</a></li>
            <li><a href="#" data-ref="uname">Username</a></li>
            <li><a href="#" data-ref="email">Email</a></li>
            <li><a href="#" data-ref="viewpswd">Password</a></li>
            <li><a href="#" data-ref="phone">Phone</a></li>
          </ol>
        </div>
        <form method="POST" action="{% url 'signup' %}" id="sign-form" class="sign-form">
          {% csrf_token %}
          {% if error_message %}
          <p class="error">{{ error_message }}</p>
          {% endif %}
          <ol class="questions">
            <li>
              <span><label for="name">Hi, What is your Name?</label></span>
              <input class="active" id="name" name="name" type="text" placeholder="Enter your full name" autofocus />
            </li>
            <li>
              <span><label for="uname">& what shall we call you?</label></span>
              <input id="uname" name="username" type="text" placeholder="Enter a username" autofocus />
            </li>
            <li>
              <span><label for="email">Enter you email</label></span>
              <input id="email" name="email" type="text" placeholder="Email" autofocus />
            </li>
            <li>
              <span><label for="password">Choose a password</label></span>
              <input id="viewpswd" name="password" type="text" placeholder="this your password" />
              <input id="password" name="password" type="password" placeholder="make sure you dont forget" autofocus />
              <span id="show-pwd" class="view"></span>
            </li>
            <li>
              <span><label for="phone">Enter your phone number</label></span>
              <select name="countryCode" class="country">
                <option data-countryCode="GB" value="91">(+91) INDIA </option>
                <option data-countryCode="GB" value="44">(+44) UK </option>
                <option data-countryCode="US" value="1">(+1) USA </option>
                <optgroup label="Other countries">
                  <option data-countryCode="DZ" value="213"> (+213)Algeria</option>
                  <option data-countryCode="AD" value="376"> (+376) Andorra</option>
                  <option data-countryCode="AO" value="244">(+244) Angola </option>
                  <option data-countryCode="AI" value="1264"> (+1264) Anguilla</option>
                  <option data-countryCode="AG" value="1268">(+1268) Antigua &amp; Barbuda </option>
                  <option data-countryCode="AR" value="54">(+54) Argentina </option>
                  <option data-countryCode="AM" value="374"> (+374) Armenia</option>
                  <option data-countryCode="AW" value="297">(+297) Aruba </option>
                  <option data-countryCode="AU" value="61"> (+61) Australia</option>
                  <option data-countryCode="AT" value="43">(+43) Austria </option>
                  <option data-countryCode="AZ" value="994"> (+994) Azerbaijan</option>
                  <option data-countryCode="BS" value="1242">(+1242)Bahamas </option>
                </optgroup>
              </select>
              <input id="phone" name="phone" type="text" autofocus />
            </li>
            <li>
              <p style="font-size: 40pt;text-align: center;">
                <a href="#" style="color:white;text-decoration:none" id="signup">Sign Up</a>
              </p>
            </li>


          </ol>
          <div id="next-page" alt="Kiwi standing on oval"></div>
          <div class="error-message"></div>

        </form>
        <h1 id="wf" style="opacity:0;width: 600px; margin-top:1.1em;display:none; margin-bottom:1em">Thank you</h1>
      </div>
  </section>
</main>
{% endblock body %} {% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  var canvas = document.getElementById("canvas");
  var ctx = canvas.getContext("2d");

  var grd,
    keys_down = [],
    letters = [];

  var symbols = [
    { k: 81, s: "q", x: 5 },
    { k: 87, s: "w", x: 15 },
    { k: 69, s: "e", x: 25 },
    { k: 82, s: "r", x: 35 },
    { k: 84, s: "t", x: 45 },
    { k: 89, s: "y", x: 55 },
    { k: 85, s: "u", x: 65 },
    { k: 73, s: "i", x: 75 },
    { k: 79, s: "o", x: 85 },
    { k: 80, s: "p", x: 95 },
    { k: 65, s: "a", x: 10 },
    { k: 83, s: "s", x: 20 },
    { k: 68, s: "d", x: 30 },
    { k: 70, s: "f", x: 40 },
    { k: 71, s: "g", x: 50 },
    { k: 72, s: "h", x: 60 },
    { k: 74, s: "j", x: 70 },
    { k: 75, s: "k", x: 80 },
    { k: 76, s: "l", x: 90 },
    { k: 90, s: "z", x: 20 },
    { k: 88, s: "x", x: 30 },
    { k: 67, s: "c", x: 40 },
    { k: 86, s: "v", x: 50 },
    { k: 66, s: "b", x: 60 },
    { k: 78, s: "n", x: 70 },
    { k: 77, s: "m", x: 80 },
    { k: 48, s: "0", x: 90 },
    { k: 49, s: "1", x: 0 },
    { k: 50, s: "2", x: 10 },
    { k: 51, s: "3", x: 20 },
    { k: 52, s: "4", x: 30 },
    { k: 53, s: "5", x: 40 },
    { k: 54, s: "6", x: 50 },
    { k: 55, s: "7", x: 60 },
    { k: 56, s: "8", x: 70 },
    { k: 57, s: "9", x: 80 },
  ];

  function Letter(key) {
    this.x = findX(key);
    this.symbol = findS(key);
    this.color = "rgba(255, 255, 255, " + Math.random() + ")";
    this.size = Math.floor(Math.random() * 40 + 12);
    this.path = getRandomPath(this.x);
    this.rotate = Math.floor(Math.random() * Math.PI + 1);
    this.percent = 0;
  }

  Letter.prototype.draw = function () {
    var percent = this.percent / 100;
    var xy = getQuadraticBezierXYatPercent(
      this.path[0],
      this.path[1],
      this.path[2],
      percent
    );
    ctx.save();
    ctx.translate(xy.x, xy.y);
    ctx.rotate(this.rotate);
    ctx.font = this.size + "px Arial";
    ctx.fillStyle = this.color;
    ctx.fillText(this.symbol, -15, -15);
    ctx.restore();
  };

  Letter.prototype.drawPath = function () {
    ctx.lineWidth = 1;
    ctx.beginPath();
    ctx.moveTo(this.path[0].x, this.path[0].y);
    ctx.quadraticCurveTo(
      this.path[1].x,
      this.path[1].y,
      this.path[2].x,
      this.path[2].y
    );
    ctx.stroke();
  };

  function findX(key) {
    for (var i = 0; i < symbols.length; i++) {
      if (symbols[i].k == key) {
        return (symbols[i].x * canvas.width) / 100;
      }
    }
    return false;
  }

  function findS(key) {
    for (var i = 0; i < symbols.length; i++) {
      if (symbols[i].k == key) {
        return symbols[i].s;
      }
    }
    return false;
  }

  function getRandomPath(x) {
    var x_start = x;
    var x_end = x_start + Math.floor(Math.random() * 400 - 199);

    return [
      {
        x: x_start,
        y: canvas.height,
      },
      {
        x: (x_start + x_end) / 2,
        y: Math.floor(Math.random() * canvas.height - canvas.height),
      },
      {
        x: x_end,
        y: canvas.height,
      },
    ];
  }

  function drawBackground() {
    ctx.fillStyle = grd;
    ctx.fillRect(0, 0, canvas.width, canvas.height);
  }

  function getQuadraticBezierXYatPercent(startPt, controlPt, endPt, percent) {
    var x =
      Math.pow(1 - percent, 2) * startPt.x +
      2 * (1 - percent) * percent * controlPt.x +
      Math.pow(percent, 2) * endPt.x;
    var y =
      Math.pow(1 - percent, 2) * startPt.y +
      2 * (1 - percent) * percent * controlPt.y +
      Math.pow(percent, 2) * endPt.y;
    return { x: x, y: y };
  }

  function resize() {
    var box = canvas.getBoundingClientRect();
    canvas.width = box.width;
    canvas.height = box.height;
    grd = ctx.createRadialGradient(
      canvas.width / 2,
      canvas.height / 2,
      0,
      canvas.width / 2,
      canvas.height / 2,
      canvas.height
    );
    grd.addColorStop(0, "#ffffff00");
    grd.addColorStop(1, "#ffffff00");
  }

  function draw() {
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    drawBackground();

    for (var i = 0; i < letters.length; i++) {
      letters[i].percent += 1;
      letters[i].draw();
      // letters[i].drawPath();
      if (letters[i].percent > 100) {
        letters.splice(i, 1);
      }
    }

    for (var i = 0; i < keys_down.length; i++) {
      if (keys_down[i]) {
        letters.push(new Letter(i));
      }
    }
    requestAnimationFrame(draw);
  }
  var start_keys = [81, 87, 69, 82, 84, 89, 85, 73, 79, 80];

  function startAnimation() {
    setTimeout(function () {
      var key = start_keys.pop();
      keys_down[key] = true;
      setTimeout(function () {
        keys_down[key] = false;
      }, 180);
      if (start_keys.length > 0) {
        startAnimation();
      }
    }, 180);
  }
  resize();
  draw();
  startAnimation();

  window.onresize = resize;

  var keys_down = [];
  var inputs = document.querySelectorAll("input[type='text']");

  function handleKeyUp(event) {
    keys_down[event.keyCode] = false;
  }

  function handleKeyDown(event) {
    if (event.keyCode === 91 || event.keyCode === 224) {
      keys_down = [];
    } else if (
      (event.keyCode >= 65 && event.keyCode <= 90) ||
      (event.keyCode >= 48 && event.keyCode <= 57)
    ) {
      keys_down[event.keyCode] = true;
    }
  }

  function focusInputs() {
    for (var i = 0; i < inputs.length; i++) {
      inputs[i].focus();
    }
  }

  function initialize() {
    for (var i = 0; i < inputs.length; i++) {
      inputs[i].onkeyup = handleKeyUp;
      inputs[i].onkeydown = handleKeyDown;
    }
    focusInputs();
  }

  initialize();

  window.requestAnimationFrame =
    window.requestAnimationFrame ||
    window.webkitRequestAnimationFrame ||
    window.mozRequestAnimationFrame ||
    window.oRequestAnimationFrame ||
    window.msRequestAnimationFrame ||
    function (callback) {
      window.setTimeout(callback, 1000 / 60);
    };

</script>
<script>
  var counter = 1;
  $(document).ready(function () {

    var erroEle = $('.error-message'),
      focusInput = $('.questions').find('.active');

    $('.navigation a').click(function () {
      nextMaster('navi');

      var thisInput = $('#' + $(this).attr('data-ref'));
      $('.active').removeClass('active');
      thisInput.focus().addClass('active')
      thisInput.closest('li').animate({
        marginTop: '0px',
        opacity: 1
      }, 200);
      thisInput.closest('li').prevAll('li').animate({
        marginTop: '-150px',
        opacity: 0
      }, 200)
      //                     .AddClass('done');

      thisInput.closest('li').nextAll('li').animate({
        marginTop: '150px',
        opacity: 0
      }, 200)
      //                    .RemoveClass('done');
      errorMessage(erroEle, '', 'hidden', 0);

    });

    if (focusInput.val() != '') {
      $('#next-page').css('opacity', 1);
    }

    $(document).keypress(function (event) {
      if (event.which == 13) {
        nextMaster('keypress');
        event.preventDefault();
      }
    });

    $('#next-page').click(function () {
      var focusInput = $('.questions').find('.active');
      nextMaster('nextpage');
    });

    function nextMaster(type) {
      var focusInput = $('.questions').find('.active');
      if (focusInput.val() != '') {
        if ((focusInput.attr('name') == 'name' || focusInput.attr('name') == 'username') && focusInput.val().length < 2) {
          errorMessage(erroEle, "isn't your " + focusInput.attr('name') + " bit small. ", 'visible', 1);
        } else if (focusInput.attr('name') == 'email' && !validateEmail(focusInput.val())) {
          errorMessage(erroEle, "It doesn't look like a " + focusInput.attr('name'), 'visible', 1);
        } else if (focusInput.attr('name') == 'phone' && !validatePhone(focusInput.val())) {
          errorMessage(erroEle, "It doesn't look like a " + focusInput.attr('name'), 'visible', 1);
        } else {
          if (type != 'navi') showLi(focusInput);
          $('#next-page').css('opacity', 0);
          errorMessage(erroEle, '', 'hidden', 0);
        }
      } else if (type == 'keypress') {
        errorMessage(erroEle, 'please enter your ' + focusInput.attr('name'), 'visible', 1);
      }
    }

    $("input[type='text']").keyup(function (event) {
      var focusInput = $(this);
      if (focusInput.val().length > 1) {
        if ((focusInput.attr('name') == 'email' && !validateEmail(focusInput.val())) ||
          (focusInput.attr('name') == 'phone' && !validatePhone(focusInput.val()))) {
          $('#next-page').css('opacity', 0);
        } else {
          $('#next-page').css('opacity', 1);
        }
      } else {
        $('#next-page').css('opacity', 0);
      }
    });

    $("#password").keyup(function (event) {
      var focusInput = $(this);
      $("#viewpswd").val(focusInput.val());
      if (focusInput.val().length > 1) {
        $('#next-page').css('opacity', 1);
      }
    });

    $('#signup').click(function () {
      $('.navigation').fadeOut(400).css({
        'display': 'none'
      });
      $('#sign-form').fadeOut(400).css({
        'display': 'none'
      });
      $(this).fadeOut(400).css({
        'display': 'none'
      });
      $('#wf').animate({
        opacity: 1,
        marginTop: '1em'
      }, 500).css({
        'display': 'block'
      });
    });

    $('#show-pwd').mousedown(function () {
      $(this).toggleClass('view').toggleClass('hide');
      $('#password').css('opacity', 0);
      $('#viewpswd').css('opacity', 1);
    }).mouseup(function () {
      $(this).toggleClass('view').toggleClass('hide');
      $('#password').css('opacity', 1);
      $('#viewpswd').css('opacity', 0);
    });

    function showLi(focusInput) {
      focusInput.closest('li').animate({
        marginTop: '-150px',
        opacity: 0
      }, 200);

      console.log(focusInput.closest('li'));

      if (focusInput.attr('id') == 'viewpswd') {
        $("[data-ref='" + focusInput.attr('id') + "']")
          .addClass('done').html('password');
        //                    .html(Array(focusInput.val().length+1).join("*"));
      } else {
        $("[data-ref='" + focusInput.attr('id') + "']").addClass('done').html(focusInput.val());
      }

      focusInput.removeClass('active');
      counter++;

      var nextli = focusInput.closest('li').next('li');

      nextli.animate({
        marginTop: '0px',
        opacity: 1
      }, 200);

      nextli.find('input').focus().addClass('active');
    }

    function errorMessage(textmeg, appendString, visib, opaci) {
      textmeg.css({
        visibility: visib
      }).animate({
        opacity: opaci
      }).html(appendString)
    }

    function validateEmail(email) {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }

    function validatePhone(phone) {
      var re = /\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})/;
      return re.test(phone);
    }
  });
</script>
<script>
  document.getElementById('signup').addEventListener('click', function (e) {
    e.preventDefault();
    document.getElementById('sign-form').submit();
  });
</script>


{% endblock javascript %}